<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .box{
            width: 10em;
            height: 10em;
            {# background-color: blue; #}
            border: 1em, black, solid;
            border-radius: 10%;
        }
        .main{
            display: flex;
            justify-content: space-evenly
        }
    </style>
    <title>Playground</title>
</head>
<body>
    <h1 style="text-align:center">Welcome!</h1>
    <div class="main">
        {% for i in range(0,num) %}
        <div class="box" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>

</body>
</html>