<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Comments and Notes</title>
</head>
<body>
    <header>
        <h1>Welcome {{user.firstName}}</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <h1>Users</h1>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Current User</th>
            </tr>
            {% for u in users %}
                <tr>
                    <td>{{u.firstName}}</td>
                    <td>{{u.lastName}}</td>
                    {% if u.id == user.id %}
                        <td>Logged In</td>
                    {% else %}
                        <td>Not Logged In</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <hr>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>