<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Wall</title>
</head>
<body>
    <header class="row">
        <h1>Coding Dojo Wall</h1>
        <h1>Welcome {{user.firstName}}</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="container">
        <h4>What's on your mind? Create a new post:</h4>
        <form action="/post/" method="post" class="col-4 p-4">
    </div>







    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <h1>All Community Posts</h1>
        <div>
            {% for post in posts %}
                <tr>
                    <td>{{u.firstName}}</td>
                    <td>{{u.lastName}}</td>
                    {% if u.id == user.id %}
                        <td>Logged In</td>
                    {% else %}
                        <td>Not Logged In</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </div>
    </main>
</body>


</html>
