<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Recipes</title>
</head>
<body class="container">
    <header class="row">
        <div class="alert alert-light" role="alert">
            {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <nav class="row justify-content-md-center">
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
        <div class="row justify-content-end">
            <a class="btn btn-outline-primary" href="/create" role="button">+Create</a>
        </div>
    </header>
    <main class="py-md-3 pl-md-5 bd-content">
        <div class="card border-dark mb-3">
            <div class="card-header">
                <h1>Welcome {{user.firstName}}</h1>
                <h3>All recipes:</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Under</th>
                        <th scope="col">Posted By</th>
                        <th scope="col">Actions</th>
                    </tr>
                    {% for u in users %}
                        <tr>
                            <td>{{u.firstName}}</td>
                            <td>{{u.lastName}}</td>
                            {% if u.id == user.id %}
                                <td>Logged In</td>
                            {% else %}
                                <td>Not Logged In</td>
                            {% endif %}
                            <td><a href="/">View</a> | <a href="/">Edit</a> | <a href="/">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>